

.vis-item.vis-editable.vis-background.vis-selected {
    border-color: rgb(162, 0, 255);
    border-width: 0px 2px;
    border-style: solid;
}

.vis-item.vis-editable.vis-background.vis-selected.made-selection {
    border-color: rgb(255, 30, 0);
    border-width: 0px 2px;
    border-style: solid;
    background-color: rgba(213, 246, 216, 0.4)

}